.grid {
    display: grid;
    grid-template-columns: 1fr 300px 300px 1fr;
    grid-template-rows: 25vh 50vh 25vh;
    grid-template-areas: 
    ". . . ."
    ". printer crane ."
    ". . . .";
    column-gap: 100px;
}

.printer {
    grid-area: printer;
    height: 400px;
    width: 300px;
    align-self: center;
}

.crane {
    grid-area: crane;
    height: 400px;
    width: 300px;
    align-self: center;
}